# Node.js dependencies
node_modules/
node_modules

# Build output
dist/
build/
dist-ssr

# Vite & Environment files
.vite/
.env
.env.*
*.local

# IDE and Editor files
.idea/
.vscode/
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.temp
.goutputstream-*

# Logs (Files, general folders, and your specific project path)
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
/Final Project v1/Main Project v4/log/